#title{
    text-align: center;
}
#image {
    max-width: 639px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#img-caption{
    text-align: center;
}
#tribute-info{
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}
#tribute-link{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
body {
    background-color: gray;
  }